.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color: #4A90E2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
    color: #ffffff ;
}

.logo img {
    width: 200px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.nav-links a {
    margin: 0px 15px; 
    font-weight: 500;
    transition: transform 0.3s ease;
}

.nav-links a:hover {
    transform: scale(1.1);
}

.button-perfil {
    background-color: #def7fa;
    color: #4a90e2;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    width: 45px; 
    height: 45px; 
    display: inline-flex;
    overflow: hidden; 
}

.button-perfil:hover {
    background-color: #2b6193;
    color: #ffffff;
    transform: scale(1.05);
}

.button-perfil img {
    width: 100%;
    height: 100%; /* Ajuste para 100% */
    max-width: none; /* Remover limite de largura */
    max-height: none; /* Remover limite de altura */
    object-fit: cover; 
    border-radius: 50%; /* Tornar a imagem redonda */
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
    }

    .nav-links {
        flex-direction: row;
        margin-top: 10px;
    }

    .nav-links a {
        margin: 5px 10px;
        padding: 10px 15px;
    }

    .button-perfil {
        margin-top: 15px;
        margin-left: 0;
        width: auto;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 40px;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links a {
        margin: 10px 0;
        padding: 10px 20px;
        text-align: center;
    }

    .button-perfil {
        margin-top: 20px;
        margin-left: 0;
        width: auto;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links a {
        margin: 10px 0;
        padding: 12px 20px;
        width: 100%;
        text-align: center;
    }

    .button-perfil {
        width: 100%;
        margin-top: 20px;
        padding: 12px;
    }
}
