.profile-edit-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4F83B6;
}

.edit-form .form-group {
  margin-bottom: 15px;
  text-align: center;
}

.edit-form .form-group input {
  text-align: center;
}

.edit-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #4F83B6;
  margin-left: 20%;
}

.input-error {
  border-color: red;
  color: red;
}

.error-message {
  color: red;
}

.edit-form label.custom-file-upload {
  font-weight: bold;
  font-size: 14px;
}

.edit-form input[type="text"],
.edit-form input[type="email"],
.edit-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #4A90E2;
  border-radius: 15px;
  font-size: 16px;
  color: #000000;
}

.edit-form input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.image-preview img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.remove-button {
  background: none;
  border: none;
  color: #4F83B6;
  font-size: 14px;
  cursor: pointer;
}

.custom-file-upload {
  font-size: 14px;
  background-color: #4F83B6;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.custom-file-upload:hover {
  transform: scale(1.05);
}

.custom-file-upload span {
  color: white;
}

.save-button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #4F83B6;
  color: white;
  margin-top: 10%;
  display: block;
  margin: 20px auto;
}

textarea {
  resize: none;
  font-family: 'Montserrat', sans-serif;
}

.choose-photo-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #4F83B6;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.choose-photo-button:hover {
  transform: scale(1.05);
}
