<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body>

    <header className = "header">
        <div className = "logo">DebugClub</div>
        <nav className = "nav-links">
          <a href='#ranking'>Ranking</a>
          <a href='#dashboard'>Dashboard</a>
          <a href='#repositorios'>Repositórios</a>
        </nav>
    </header>

    <div class="flex">

        <div class="log_para_cad">
            <h2>Ainda não tem uma conta?</h2>
            <ul class="tab-group">
                <li class="tab"><a href="#cadastro">Cadastre-se</a></li>
            </ul>
        </div>

        <div class="form">
            <div id="form_login">
                <h1>Bem vindo de volta!</h1>
                <form action="/" method="post">
                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Senha<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off"/>
                    </div>
                    <p class="forgot"><a href="#">Esqueceu a senha?</a></p>
                    <button class="button button-block">Login</button>
                </form>
            </div>
        </div>
    </div>

    <footer>

    </footer>
    
    <script type="module" src="loginscript.js"></script>
</body>
</html>
