
.main-container {
    font-family: 'Montserrat', sans-serif;
  }

  h1{
    color: #4A90E2 ;
    font-size: 22px;
  }
  
  .main-content {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }

  .repo{
    color: #003366;
    width: 100%;
    justify-content: center;

    background-color: #F2F2F2;
    border-radius: 10px;
  }
  
  .repository-list {
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }
  
  .repository-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
  }
  
  .repo-info {
    display: flex;
    align-items: center;
  }

  .repo-detail{
    display: flex;
    flex-direction: column;
  }
  
  .repo-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .repo-user {
    font-size: 14px;
    color: #C3C3C3;
    font-weight: bold;
  }
  
  .repo-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
  }
  
  .status {
    font-weight: bold;
  }
  
  .date {
    font-size: 12px;
    color: #aaa;
  }
  

  .repo-icon {
    width: 28px;
    height: 28px;
    margin-right: 15px;
  }

  .repo-title {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: inherit; /* Mantém a cor do texto original */
    position: relative; /* Necessário para o pseudo-elemento */
  }
  
  .repo-title::after {
    content: ""; /* Cria um pseudo-elemento vazio */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Espessura da linha */
    background-color: currentColor; /* Usa a mesma cor do texto */
    transition: width 0.3s ease; /* Suaviza a animação */
  }
  
  .repo-title:hover::after {
    width: 100%; /* Preenche a linha no hover */
  }
  