.ranking-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.ranking-text {
  text-align: center;
}

.ranking-text h2 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4F83B6;
  font-weight: bold;
  margin: 0;
}

.ranking-img {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
}

/* Responsividade para tablets e dispositivos de tamanho médio */
@media (max-width: 1024px) {
  .ranking-section {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
  }
  .ranking-img {
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .ranking-section {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  .ranking-img {
    max-width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .ranking-section {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  .ranking-img {
    max-width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
