.rodape-section {
    background-color: #4A90E2;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
  }
  
  .rodape-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .logo-img {
    width: 25rem;
    margin-right: 20px;
  }
  
  .contato-rodape {
    flex: 1;
    text-align: start;
    padding: 0 5rem 0 9rem;
  }
  
  .contato-rodape h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .contato-rodape p {
    font-size: 1.2rem;
  }
  
  .icons-rodape {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    gap: 20px;
  }
  
  .facebook-img, .instagram-img {
    width: 30px;
    height: 30px;
  }
  
  .endereco-rodape {
    flex: 1;
    text-align: start;
    padding-top: 3%;
  }
  
  .endereco-rodape p {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  /* Responsividade */
  @media (max-width: 1024px) {
    .rodape-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 5vw;
    }

    .logo-img {
        margin-bottom: 2rem;
        width: 40%; /* Ajustando para telas intermediárias */
    }

    .contato-rodape, .endereco-rodape {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }

    .contato-rodape a, .endereco-rodape a {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
        text-align: center;
        display: block;
        margin-top: 0.5rem;
    }

    .social-media {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .social-media a {
        font-size: 1.5rem;
        padding: 0.6rem;
    }
}

@media (max-width: 768px) {
    .rodape-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 5vw;
    }

    .logo-img {
        margin-bottom: 2rem;
        width: 50%;
    }

    .contato-rodape, .endereco-rodape {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }

    .contato-rodape a, .endereco-rodape a {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
        text-align: center;
        display: block;
        margin-top: 0.5rem;
    }

    .social-media {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .social-media a {
        font-size: 1.5rem;
        padding: 0.6rem;
    }
}

@media (max-width: 480px) {
    .rodape-content {
        padding: 1rem 5vw;
    }

    .logo-img {
        margin-bottom: 1.5rem;
        width: 60%;
    }

    .contato-rodape, .endereco-rodape {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .contato-rodape a, .endereco-rodape a {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
    }

    .social-media {
        margin-top: 1.5rem;
    }

    .social-media a {
        font-size: 1.4rem;
        padding: 0.6rem;
    }
}
