.rodape-section {
  background-color: #4A90E2;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rodape-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 40px;
}

.logo-img {
  width: 25rem;
  max-width: 100%;
  margin-right: 20px;
}

.contato-rodape {
  flex: 1;
  text-align: start;
  padding: 0 5rem 0 9rem;
  min-width: 250px;
}

.contato-rodape h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.contato-rodape p {
  font-size: 1.2rem;
}

.icons-rodape {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
  gap: 20px;
}

.facebook-img, .instagram-img {
  width: 30px;
  height: 30px;
}

.endereco-rodape {
  flex: 1;
  text-align: start;
  padding-top: 3%;
  min-width: 250px;
}

.endereco-rodape p {
  margin: 5px 0;
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .rodape-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .logo-img {
      margin-bottom: 20px;
      width: 80%;
  }

  .contato-rodape, .endereco-rodape {
      margin-bottom: 20px;
      padding: 0 2rem;
      text-align: center;
  }

  .contato-rodape {
      min-width: 0;
  }

  .endereco-rodape {
      min-width: 0;
  }

  .icons-rodape {
      justify-content: center;
  }
}

@media (max-width: 768px) {
  .rodape-section {
      padding: 15px;
  }

  .rodape-content {
      width: 100%;
  }

  .logo-img {
      width: 70%;
      margin-bottom: 15px;
  }

  .contato-rodape, .endereco-rodape {
      margin-bottom: 15px;
      padding: 0;
      text-align: center;
  }

  .contato-rodape h3, .endereco-rodape p {
      font-size: 1rem;
  }

  .icons-rodape {
      gap: 15px;
  }
}
